i {
    cursor: pointer;
}

i:active {
    transform: scale(1.2);
}

input[type="checkbox"],
input[type="checkbox"]:hover+label {
    cursor: pointer;
    user-select: none;
}

div.product-item:hover,
div.product-item:active {
    transform: scale(1.03);
    cursor: pointer;
}

div.product-item a {
    text-decoration: none;
    color: #000;
}