.option {
    width: 150px;
}

nav[aria-label="breadcrumb"] {
    font-weight: bold;
    font-size: 15px;
    /* --bs-breadcrumb-divider: '>'; */
}

nav[aria-label="breadcrumb"]>ol {
    margin: 0;
}

nav[aria-label="breadcrumb"]>li {
    width: 5rem;
}

.breadcrumb-item {
    /* width:100px !important; */
    white-space: nowrap;
    display: inline-block;
    padding: 0 10px;
}
