
/* div.card > img {
    width:150px;
    height:150px;
}

#items {
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.summary-info {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
 */

 #cart-list {
    width: 80%;
    max-width:500px;
}

.square {
    height: 40px;
    width: 40px;
}

button.square:active {
    transition: transform 0.2s ease;
    transform: scale(0.95);
}

.disabled {
    background-color: #f0f0f0;
    color: #aaa;
    pointer-events: none; 
    opacity: 0.5;
}

@media screen and (max-width: 780px) {
    #cart-list {
        width:100% !important;
    }
}
